<%#<h1>Addmin#home</h1>
<p>Find me in app/views/addmin/home.html.erb</p>%>

<% provide(:title, "Admin Home Page ") %>

<div class="center jumbotron">
<h2> Admin Home Page</h2>

<%#<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<%= button_to "Create a professor account" %>
<%= button_to "Edit a professor account" %>
<%= button_to "Delete a professor account" %>




<%= button_to "Create a course" %>
<%= button_to "Delete a course" %>
<%= button_to "Assign a TA to a course" %>