<% provide(:title, 'Create Comment and Rate') %>


    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>COMPUTER SCIENCE DEPARTMENT</title>


    <link rel="stylesheets" type="text/css" href="log.css.scss" media="all">

    <script type="text/javascript" src="view.js"></script>
    <script type="text/javascript" src="calendar.js"></script>


    </head>
    <body id ="main_body">

    <div class="container" id="fixed_container">
    <%#= form_for @course, :url => url_for(:controller => 'courses', :action => 'create'), :html => {:id => "signup"} do |f| %>

    <%= form_for @comment, :url => url_for(:controller => 'comments', :action => 'create'), :html => {:id => "signup"} do |f| %>
     <%#= form_for @admins, :url => url_for(:controller => 'admin', :action => 'edit') , :html => {:id => " edit_user_1"} do |f| %> 
      <div class="header">
        <h3><u>Create Comments</u></h3>
      </div>
      <div class="sep"></div>

      <div class="form-horizontal center">
        <div class="form-group">
          <%= f.label :comment, :class => 'control-label' %>
          <!--<div class="col-md-12">-->
          <%= f.text_field :comment, :class => "form-control", :value => ""%>
          <!--</div>-->
        </div>
       
        <div class="form-group">
          <%= f.label 'Number of Rating', :class => 'control-label' %>
          <%= f.text_field :rating, :class => "form-control", :value => ""%>
          <%#= collection_select(:applications, :student_id, params[:id],:id,:student_id, {:include_blank => true}) %>

        </div>
        
        <div id="midle_button" class="col-md-12 form-inline">
          <div class = "col-md-6">
            <%= link_to "Home Page", "/admin/home", :class => "btn btn-default", :method => :get %>
          </div>
          <div class = "col-md-6">
            <%= f.submit "Create comments", class: "btn btn-primary"  %>
          </div>
        </div>

</div>

        
      </body>
      
      <% end %>