

<% provide(:title, "Edit Professors Account ") %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>COMPUTER SCIENCE DEPARTMENT</title>


<link rel="stylesheets" type="text/css" href="log.css.scss" media="all">

<script type="text/javascript" src="view.js"></script>
<script type="text/javascript" src="calendar.js"></script>
</head>
<body id ="main_body">

<div class="container">
    <%= form_for @admins, :url => url_for(:controller => 'admin', :action => 'create') , :html => {:id => "signup"} do |f| %>
     <div class="header">
        <h3>Edit Professors Account</h3>
      </div>
     
      

      <%= f.label :name %>
      <%= f.text_field :prof_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :miz_email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @admin %>
      <a href="http://gravatar.com/emails" target=_blank>change</a>
    </div>
  </div>
</div>