<%#<h1>Addmin#home</h1>
<p>Find me in app/views/addmin/home.html.erb</p>%>

<% provide(:title, "Admin Home Page ") %>


<div class="container" id="signup">
<h2> Admin Home Page</h2>
<h4> <u>Logged in as:</u> <%= session[:first_name]%> </h4>
<%#<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

	<div class = "row">	
		<div class = "col-md-12">
			<%= link_to '<button type="button" class="btn btn-default">Create/Remove Professor Account</button>'.html_safe, controller: "admin", action: "new" %>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-12">
			<%= link_to '<button type="button" class="btn btn-default">Create/Remove Course</button>'.html_safe, controller: "courses", action: "new" %>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-12">
			<%= link_to '<button type="button" class="btn btn-default">Assign TA\'s to courses</button>'.html_safe, controller: "admin", action: "assign" %>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-12">
			<%= link_to '<button type="button" class="btn btn-default">View all Applicants</button>'.html_safe, controller: "taapp", action: "show_applicants"%>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-12">
			<%= link_to '<button type="button" class="btn btn-default">View/Edit Student Accounts</button>'.html_safe%>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-12">
			<%= link_to '<button type="button" class="btn btn-default">View/Edit Professor Accounts</button>'.html_safe, controller: "admin", action: "index"%>
		</div>
	</div>
	<div class = "row">
 		<div class = "col-md-12">
 			<% if @closed.closed %>
				<%= link_to '<button type="button" class="btn btn-default">Open Application Window</button>'.html_safe, controller: "admin", action: "close" %>
			<% else %>
				<%= link_to '<button type="button" class="btn btn-default">Close Application Window</button>'.html_safe, controller: "admin", action: "close" %>
			<% end %>
		</div>
	</div>
	<div class = "row" id="final_row">
		<div class = "col-md-12">
		<% if @final.finalized == false %>
			<%= link_to '<button type="button" id="finalize_button" class="btn btn-default">Finalize TA Assignments</button>'.html_safe, controller: "admin", action: "finalize"  %>
		<% else %>
			<%= link_to '<button type="button" id="finalize_button" class="btn btn-default">Reopen TA Assignments</button>'.html_safe, controller: "admin", action: "finalize"  %>
		<% end %>
		</div>
	</div>
</div>

