<% provide(:title, 'All Professor Account') %>


<h2>All Professors Account</h2>
<head>
<style>
table  {
    width: 110%; 
    border: 1px solid black;
    border-collapse: collapse;
   
}
th,td {
    
    padding: 10px;
}



table#t01 tr:nth-child(even) {
   
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    
   background-color:#fff;
}
table#t01 th	{
    
    background-color: black;
    color: white;
    text-align:center;
}
</style>
</head>


<ul class="container">
  
  <table id="t01">
   
  <tr>                          
    <th> Professor Name </th>
    <th> Professor Email </th>

    <%#<th> Professor Passwrod</th>%>

    <th> Edit Professor</th>

  </tr>
  
  <% @admins.each do |professor| %>
  
     <tr>
      <td><%= link_to professor.prof_name %></td>
      <td><%= link_to professor.miz_email %></td>

      <td><%= link_to "update", {:controller => :admin, :action => 'update', :id => professor.id }, class: "btn btn-primary" %></td>

     <%# <td><%= link_to professor.password_digest%>
    </tr>
      <% end %>
    <tr>  
    <td> </td>
    <td> <%= button_to "Home Page", {:controller => :admin, :action => 'home'}, class: "btn btn-default" %> </td>
    <td> </td>
    </tr>
    

  
  </table>
  
</ul>





