<% provide(:title, 'Create Account For Professor') %>
<h2>Create Account For Professor</h2>

<div class="center jumbotron">
  
    <%= form_for @admins, :url => url_for(:controller => 'admin', :action => 'create') do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>

</div>