<% provide(:title, 'Create/Remove Professor Account')%>


    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>COMPUTER SCIENCE DEPARTMENT</title>
    
    
    <link rel="stylesheets" type="text/css" href="log.css.scss" media="all">
    
    <script type="text/javascript" src="view.js"></script>
    <script type="text/javascript" src="calendar.js"></script>
    </head>
    <body id ="main_body">
    

   <%# <div class="container" id = "signup">%>

  <div class="container" id = "signup">

  
    <%= form_for @admins, :url => url_for(:controller => 'admin', :action => 'create') , :html => {:id => "signup "} do |f| %>
      <%#<%=render 'shared/professor_error_messages' %>
        <div class="header">
        <h3>Create Professors Account</h3>
      </div>
        <div class="sep"></div>
    
      <div class="form-horizontal center">
        <div class="form-group">
          <%= f.label :prof_name, :class => 'control-label' %>
          <!--<div class="col-md-12">-->
          <%= f.text_field :prof_name , :class => "form-control"%>
         <!--</div>-->
        </div>
      
        <div class="form-group">
          <%= f.label :miz_email, :class => 'control-label' %>
          <!--<div class="col-md-12">-->
          <%= f.text_field :miz_email , :class => "form-control"%>
         <!--</div>-->
        </div>

        <div class="form-group">
          <%= f.label :password, :class => 'control-label' %>
          <!--<div class="col-md-12">-->
          <%= f.password_field :password, :class => "form-control" %>
         <!--</div>-->
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation", :class => 'control-label' %>
          
          <%= f.password_field :password_confirmation, :class => "form-control" %>
          
        </div>
      
        <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-12 col-xs-12">
                  <%= link_to "Home Page", "/admin/home", :class => "btn btn-default", :method => :get %>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-2 col-xs-4 col-xs-offset-2">
                  <%= f.submit "Create Professor account", class: "btn btn-primary" %>
                </div>
        </div>
      </div>
        </div>

      <% end %>

 
      
      <div class="container">
  
        <div class="header">
          <h3>Remove a Professor</h3>
        </div>
        <div class="sep"></div>


        <%#<table id="this_table"> %>
        <head>
        <style>
        table  {
            width: 110%; 
            border: 1px solid black;
            border-collapse: collapse;
           
        }
        th,td {
            
            padding: 10px;
        }
        
        table#t01 {
          margin: 0 auto;
        }
        
        table#t01 tr:nth-child(even) {
           
            background-color: #eee;
        }
        table#t01 tr:nth-child(odd) {
            
           background-color:#fff;
        }
        table#t01 th	{
            
            background-color: black;
            color: white;
            text-align:center;
        }
        </style>
        </head>
       
    
         <table id="t01">
           
          <tr>
          <th> Professor Name </th>
          <th> Email </th>
          <th> Delete Professor</th>
          </tr>
          
          <% @profs.each do |prof| %>
        
          <tr>
          <td><%= link_to prof.prof_name %></td>
          <td><%= link_to prof.miz_email %></td>
          <td> <%= button_to "Delete", {:controller => :admin, :action => 'destroy', :id => prof.id }, method: :delete,  data: { confirm: "Are you sure?" }, class: "btn btn-primary" %> </td>
          </tr>
          
           <% end %>
      
        </table>
    
              </div> <!-- END form-horizontal center DIV -->
        </div>
        
      
   </body>
  </html>
        
        