<% provide(:title, "Applicants Applied To My Courses ") %>
<head>
<style>
table  {
    width: 90%; 
    border: 1px solid black;
    border-collapse: collapse;
   
}
th,td {
    
    padding: 10px;
}



table#t01 tr:nth-child(even) {
   
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    
   background-color:#fff;
}
table#t01 th	{
    
    background-color: black;
    color: white;
    text-align:center;
}
</style>
</head>

<%= link_to '<button type="button" class="btn" id="go_back">Go Back</button>'.html_safe, controller: "taapp", action: "professor" %>

<% if @courses.count > 1 %>
    <% @courses.each do |course| %>
        <h4> <%= course.course_name %></h4>
        <% @app_ids=ApplicationCourse.where(:course_id => course.id) %> 
        <% if @app_ids.count > 1 %> 
            <% @app_ids.each do |app| %>
                <% @application = Application.find_by(:id => app) %> 
                
                <% if @application != nil %>
                
                    <ul class="users" id = "assign_table">
                    <table id="t01">
                     <tr> 
                     <th> First Name </th>
                     <th> Last Name </th>
                     <th> StudentID </th>
                     <th> Phone Number</th>
                     <th>Mizzou Email </th>
                     <th>Date of app</th>
                     <th>Anticipated Graduation Date</th>
                     <th>Speak Score</th>
                     <th>Semester of test</th>
                     <th>Orientation Met</th>
                     <th>Accepted</th>
                     <th>Undergrad Status</th>
                     <th>Graduate Status </th>
                     <th>Advisor</th>
                     <th>Other Work Experience</th>
                     <th>Language Assessment</th>
                     <th>GATO Requirement</th>
                     <th>Position applied for</th>
                    
                      </tr>
                      
                       <tr>
                           

                    <td> <%= @application.first_name %></h6>
                    <td> <%= @application.last_name %></h6>
                    <td><%= @application.student_id %> </h6>
                    <td><%= @application.phone_num %> </h6>
                    <td><%= @application.mizzou_email %> </h6>
                    <td><%= @application.date_of_app%> </h6>
                    <td><%= @application.anticipated_graduation_date%> </h6>
                    <td><%= @application.speak_score %> </h6>
                    <td><%= @application.semester_of_test%> </h6>
                    <td><%= @application.orientation_met %> </h6>
                    <td><%= @application.accepted %> </h6>
                    <td><%= @application.undergrad_status %> </h6>
                    <td><%= @application.grad_status %> </h6>
                    <td><%= @application.advisor%> </h6>
                    <td><%= @application.other_work %> </h6>
                    <td><%= @application.language_assessment %> </h6>
                    <td><%= @application.GATO_requirement %> </h6>
                    <td><%= @application.position_applying_for %> </h6>
                  
                    </tr>
                    </table>
                    </ul>
                <% end %>

            <% end %> 
        <% else %>
            <% if @application %>
                <% @application = Application.find_by(:id => @app_ids.first.application_id) %> 
                    
                <% if @application != nil %>
                        <ul class="users" id="assign_table">
                    <table id="t01">
                     <tr> 
                     <th> First Name </th>
                     <th> Last Name </th>
                     <th> StudentID </th>
                     <th> Phone Number</th>
                     <th>Mizzou Email </th>
                     <th>Date of app</th>
                     <th>Anticipated Graduation Date</th>
                     <th>Speak Score</th>
                     <th>Semester of test</th>
                     <th>Orientation Met</th>
                     <th>Accepted</th>
                     <th>Undergrad Status</th>
                     <th>Graduate Status </th>
                     <th>Advisor</th>
                     <th>Other Work Experience</th>
                     <th>Language Assessment</th>
                     <th>GATO Requirement</th>
                     <th>Position applied for</th>
                    
                      </tr>
                      
                       <tr>
                           

                    <td> <%= @application.first_name %></h6>
                    <td> <%= @application.last_name %></h6>
                    <td><%= @application.student_id %> </h6>
                    <td><%= @application.phone_num %> </h6>
                    <td><%= @application.mizzou_email %> </h6>
                    <td><%= @application.date_of_app%> </h6>
                    <td><%= @application.anticipated_graduation_date%> </h6>
                    <td><%= @application.speak_score %> </h6>
                    <td><%= @application.semester_of_test%> </h6>
                    <td><%= @application.orientation_met %> </h6>
                    <td><%= @application.accepted %> </h6>
                    <td><%= @application.undergrad_status %> </h6>
                    <td><%= @application.grad_status %> </h6>
                    <td><%= @application.advisor%> </h6>
                    <td><%= @application.other_work %> </h6>
                    <td><%= @application.language_assessment %> </h6>
                    <td><%= @application.GATO_requirement %> </h6>
                    <td><%= @application.position_applying_for %> </h6>
                  
                    </tr>
                    </table>
                    </ul>
                    <% end %>
            <% end %> 
        <% end %> 
    <% end %>
<% elsif @courses.count == 0 %>
    <h4> No classes </h4>
<% else %> 
    <h4> <%= @courses.first.course_name %></h4>
        <% @app_ids=ApplicationCourse.where(:course_id =>@courses.first.id) %> 
        <% if @app_ids.count > 1 %> 
            <% @app_ids.each do |app| %>
                <% @application = Application.find_by(:id => app) %> 
                <% if @application != nil %>
                    <ul class="users" id="assign_table">
                    <table id="t01">
                     <tr> 
                     <th> First Name </th>
                     <th> Last Name </th>
                     <th> StudentID </th>
                     <th> Phone Number</th>
                     <th>Mizzou Email </th>
                     <th>Date of app</th>
                     <th>Anticipated Graduation Date</th>
                     <th>Speak Score</th>
                     <th>Semester of test</th>
                     <th>Orientation Met</th>
                     <th>Accepted</th>
                     <th>Undergrad Status</th>
                     <th>Graduate Status </th>
                     <th>Advisor</th>
                     <th>Other Work Experience</th>
                     <th>Language Assessment</th>
                     <th>GATO Requirement</th>
                     <th>Position applied for</th>
                    
                      </tr>
                      
                       <tr>
                           

                    <td> <%= @application.first_name %></h6>
                    <td> <%= @application.last_name %></h6>
                    <td><%= @application.student_id %> </h6>
                    <td><%= @application.phone_num %> </h6>
                    <td><%= @application.mizzou_email %> </h6>
                    <td><%= @application.date_of_app%> </h6>
                    <td><%= @application.anticipated_graduation_date%> </h6>
                    <td><%= @application.speak_score %> </h6>
                    <td><%= @application.semester_of_test%> </h6>
                    <td><%= @application.orientation_met %> </h6>
                    <td><%= @application.accepted %> </h6>
                    <td><%= @application.undergrad_status %> </h6>
                    <td><%= @application.grad_status %> </h6>
                    <td><%= @application.advisor%> </h6>
                    <td><%= @application.other_work %> </h6>
                    <td><%= @application.language_assessment %> </h6>
                    <td><%= @application.GATO_requirement %> </h6>
                    <td><%= @application.position_applying_for %> </h6>
                
                    </tr>
                    </table>
                    </ul>
                <% end %>
            <% end %> 
        <% else %> 
            <% if @application %>
                <% @application = Application.find_by(:id => @app_ids.application_id) %> 
                    
                <% if @application != nil %>
                        <ul class="users" id="assign_table">
                    <table id="t01">
                     <tr> 
                     <th> First Name </th>
                     <th> Last Name </th>
                     <th> StudentID </th>
                     <th> Phone Number</th>
                     <th>Mizzou Email </th>
                     <th>Date of app</th>
                     <th>Anticipated Graduation Date</th>
                     <th>Speak Score</th>
                     <th>Semester of test</th>
                     <th>Orientation Met</th>
                     <th>Accepted</th>
                     <th>Undergrad Status</th>
                     <th>Graduate Status </th>
                     <th>Advisor</th>
                     <th>Other Work Experience</th>
                     <th>Language Assessment</th>
                     <th>GATO Requirement</th>
                     <th>Position applied for</th>
                    
                      </tr>
                      
                       <tr>
                           

                    <td> <%= @application.first_name %></h6>
                    <td> <%= @application.last_name %></h6>
                    <td><%= @application.student_id %> </h6>
                    <td><%= @application.phone_num %> </h6>
                    <td><%= @application.mizzou_email %> </h6>
                    <td><%= @application.date_of_app%> </h6>
                    <td><%= @application.anticipated_graduation_date%> </h6>
                    <td><%= @application.speak_score %> </h6>
                    <td><%= @application.semester_of_test%> </h6>
                    <td><%= @application.orientation_met %> </h6>
                    <td><%= @application.accepted %> </h6>
                    <td><%= @application.undergrad_status %> </h6>
                    <td><%= @application.grad_status %> </h6>
                    <td><%= @application.advisor%> </h6>
                    <td><%= @application.other_work %> </h6>
                    <td><%= @application.language_assessment %> </h6>
                    <td><%= @application.GATO_requirement %> </h6>
                    <td><%= @application.position_applying_for %> </h6>
                  
                    </tr>
                    </table>
                    </ul>
                    <% end %>
            <% end %> 
        <% end %> 
<% end %>