<!DOCTYPE HTML>
  <!-- Comment -->
<html lang="en">

<head> 
<link rel="stylesheet" href="css/bootstrap.min.css"> 
<link rel="stylesheets" type="text/css" href="professor.css.scss" media="all">

<!-- Meta Data for the Robots-->
	<meta charset="UTF-8"/>
	

<% provide(:title, 'Home') %>
<div class="container" id="signup"> 
	<h3> <b>Account Information</b> </h3>
	<p> <u>Logged in as:</u> <%= @professor.prof_name %> </p>
	<p> <u>Email:</u> <%= @professor.miz_email %> </p>
	<p> <u> Courses: </u> </p>
	<% if @courses %>
		<% @courses.each do |course| %>
			<p> <%= course.course_name %> </p> 
		<% end %>
	<% end %>
	
	<div class="sep"></div>
	<br>
	<p id="info"> Use the links below to start reviewing and rating applicants. </p>
	
	<div class="row">
		<%= link_to '<button type="button" class="btn btn-default">View All Applicants</button>'.html_safe %>
	</div>
	<div class="row">
		<%= link_to '<button type="button" class="btn btn-default">Rate Previous Applicants</button>'.html_safe%>
	</div>	
</div>

