<% provide(:title, 'All applications') %>


<h2>All Applicants</h2>
<head>
<style>
table  {
    width: 90%; 
    border: 1px solid black;
    border-collapse: collapse;
   margin: 0 auto;
}
th,td {
    
    padding: 10px;
}



table#t01 tr:nth-child(even) {
  
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   
   background-color:#fff;
}
table#t01 th	{
    width: 100%;
    background-color: black;
    color: white;
    text-align:center;
    margin: 0;
}
</style>
</head>


<ul class="users">
  
    <table id="t01">
    <tr>                          
    <th> FisrtName </th>
    
    <th> LastName </th>
    
    <th> StudentID </th>
    
    <th> Phone Number </th>
    <th> GPA </th>
    <th> Email </th>
    <th> anticipated graduation date </th>
    <th> advisor </th>
    <%#<th>graduation status</th>%>
    <th> Speak Score </th>
    <th> Orientation Met </th>
    <th> GATO requirement </th>
    <th> Position </th>
    <th> Speak Score </th>
    <th> Rate </th>

    <th> Comments </th>
   
    </tr>

      <%#Application.joins(:application_courses).where("taught_teach_take_want = 'want' AND course_id = ?", params[course_select]).distinct>%>

      <% @applications.each do |application| %>
      <% @ratenumber = Rating.where(:stu_id => application.student_id).average(:rating)%>

      <tr>
      <td><%= application.first_name %></td>
      <td><%= application.last_name %></td>
      <td><%= application.student_id %></td>
      <td><%= application.phone_num %></td>
      <td><%= application.gpa %></td>
      <td><%= application.mizzou_email %></td>
      <td><%= application.anticipated_graduation_date %></td>
      <td><%= application.advisor %></td>
      <%#<td><%= link_to application.grad_status%><%#</td>%>

      <td><%= application.speak_score%></td>
      <td><%= application.orientation_met%></td>
      <td><%= application.GATO_requirement%></td>
      <td><%= application.position_applying_for%></td>

      <td><%= application.speak_score%></td>

     

      <% if @ratenumber != nil %> 
          <td><%= @ratenumber %></td>
      <% else %>
          <td> N/A </td>
      <% end %>

      <td><%= link_to "comments", {:controller => :comments, :action => 'new', :id => application.student_id }, class: "btn btn-primary" %></td>

      </tr>
   
  <% end %>
    </table> 
    <br />
    <%= link_to "Go Back", "/", :class => "btn btn-default", :method => :get %>


