<div class="container" id="status">
	<h3> <%= @application.first_name %> <%= @application.last_name %>'s application</h3>
	<h6> Submission Date: <%= @application.date_of_app%></h6>
	<div class ="row" id="accepted">
	<% if @finalized.finalized == true %>
		<% if @application.accepted == false %>
			<h4>You were not assigned to a class</h4>
		<% end %>
		<% if @application.accepted == true %>
			<% @assigned = Course.select(:course_name).find_by(:id => @application.course_id) %>
			<h4>You were assigned to <%= @assigned.course_name %></h4>
		<% end %>
	<% else %>
		<h4>Application status is pending...</h4>
	<% end %>
	</div>
	<table class="table table-striped">
		<tr><th><u>Attribute:</u></th><th><u>Values:</u></th></tr>
		<tr><th>Student ID</th><td><%= @application.student_id %></td></tr>
		<tr><th>Email</th><td><%= @application.mizzou_email %></td></tr>
		<tr><th>Position Applying For</th><td><%= @application.position_applying_for %></td></tr>
		<tr><th>Phone Number</th><td><%= @application.phone_num %></td></tr>
		<tr><th>GPA</th><td><%= @application.gpa %></td></tr>
		<tr><th>Anticipated Grad Date</th><td><%= @application.anticipated_graduation_date %></td></tr>
		<tr><th>Undergrad Status</th><td><%= @application.undergrad_status %></td></tr>
		<tr><th>Graduate Status</th><td><%= @application.grad_status %></td></tr>
		<tr><th>Advisor</th><td><%= @application.advisor %></td></tr>
		<tr><th>Language Assessment</th><td><%= @application.language_assessment %></td></tr>
		<tr><th>GATO Requirement</th><td><%= @application.GATO_requirement %></td></tr>
		<tr><th>Orientaion Met</th><td><%= @application.orientation_met %></td></tr>
		<tr><th>Other Work</th><td><%= @application.other_work %></td></tr>
		<tr><th>Speak Score</th><td><%= @application.speak_score %></td></tr>
		<tr><th>Semester of last test</th><td><%= @application.semester_of_test %></td></tr>
	</table>
	<h4><u>Classes applied for:</u></h4>
	<table class="table table-striped">
		<% @applied.each do |course| %>
			<% @course_name = Course.find(course)%>
			<tr> <%= @course_name.course_name %></tr>
		<% end %>
	</table>
</div>
